{% extends 'base.html.twig' %}

{% block title %}Nouvel Episode{% endblock %}

{% block body %}
    <div class="container mt-4">

        <a href="{{ path('episode_index') }}" class="btn btn-primary">
            <i class="fas fa-reply mr-2"></i> Retour à la liste des épisodes
        </a>

        <h1>Ajouter un nouvel épisode</h1>
        <hr>

        {{ include('episode/_form.html.twig') }}
    </div>

{% endblock %}
