{% extends 'base.html.twig' %}

{% block title %}Nouvel Episode{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}" class="btn">Retour</a>
{% endblock %}
