@import "vars";
@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "nav";
@import "home";
@import "admin";
@import "pages";

@import "program";
@import "episodes";
@import "episode";
@import "actor";
@import "comments";

@mixin primary-title {
    font-family: 'Orbitron', sans-serif;
}

@mixin secondary-title {
    font-family: 'Notable', sans-serif;
}

@mixin default-font {
    font-family: 'Abel', sans-serif;
    font-size: 1.15rem;
    text-align: justify;
}

body {
    background-color: $light;
    @include default-font;
}

h1 {
    @include primary-title;
    font-size: 2.5rem;
    padding: 0.5rem;
}

h2 {
    @include secondary-title;
    font-size: 1.5rem;
    padding: 0.5rem;
}

h3 {
    @include primary-title;
    font-size: 2rem;
    padding: 0.5rem;
    color: $primary
}

.btn {
    margin: 1rem;
}

a {
    color:$primary;
}

a:hover {
    color:$secondary;
    text-decoration:underline $primary;
}

.table-dark {
    background-color: $dark;
    color: $secondary
}
