.banner {
    width: 100%;
    height: calc(80vh - 3rem);
    object-fit: cover;
}

.home {
    .card-img-top {
        object-fit: cover;
        height: 25rem;
    }

    .card {
        margin: 2rem;
    }

    .card-body {
        display: flex;
        height: 8rem;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 1.3rem;
        color: var((--primary));
        text-align: center;
    }
}

.wild-index {
    h2 {
        position: absolute;
    }

    .card-title {
        text-align: center;
        width: 85%;
        color:var(--primary)
    }

    .card-body {
        height: 18rem;
        display: block;
    }

    .card-text {
        overflow: auto;
        height: 10rem;
        margin-top: 5rem;
    }
}

.category {
    position: absolute;
    margin-top: 2rem;
    padding: 0.2rem;
}
