{% extends 'base.html.twig' %}

{% block title %}Modifier une série{% endblock %}

{% block body %}
    <h1>Modifier une série</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('program_index') }}" class="btn">Retour</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
