{% extends 'base.html.twig' %}

{% block body %}
    {% if slug is empty %}
        <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
    {% else %}
        <h1>{{ slug }}</h1>
    {% endif %}
{% endblock %}
