{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ actor.name }}</h1>
        <p>A joué dans :</p>

        <div class="programs">

            {% for program in programs %}
                <a class="card"  href="{{ path('show_program', {'programName': program.title }) }}" style="width: 18rem;">
                    <img src="{{ program.poster }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>{{ program.title }}</h2>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>


{% endblock %}