{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ actor.name }}</h1>
        <h2>A joué dans :</h2>
        <ul>
            {% for program in programs %}
                <li>{{ program.title }}</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}