@import "admin/actor";
@import "admin/episode";

.admin {
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            width: 7rem;
        }
    }
}
