@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "nav.css";
@import "program.css";

:root {
    --light: #ffeffc;
    --secondary: #ffad66;
    --primary: #630836;
    --dark: #00011c;
}

body {
    background-color: var(--light);
}