@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "nav";
@import "home";

@import "program";
@import "episodes";
@import "actor";

@mixin primary-title {
    font-family: 'Orbitron', sans-serif;
}

@mixin secondary-title {
    font-family: 'Notable', sans-serif;
}

@mixin default-font {
    font-family: 'Abel', sans-serif;
    font-size: 1.15rem;
    text-align: justify;
}

:root {
    --light: #ffeffc;
    --secondary: #ffad66;
    --primary: #630836;
    --dark: #00011c;
}

body {
    background-color: var(--light);
    @include default-font;
}

h1 {
    @include primary-title;
    font-size: 2.5rem;
    padding: 0.5rem;
}

h2 {
    @include secondary-title;
    font-size: 1.5rem;
    padding: 0.5rem;
}

h3 {
    @include primary-title;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--primary)
}

.btn {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 1rem;
}

.btn:hover {
    background-color: var(--secondary);
}

a {
    color:var(--primary);
}

a:hover {
    color:var(--secondary);
    text-decoration:underline var(--primary);
}