.program {
    .container {
        display: flex;
        margin-top: 3rem;
    }
}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 15rem;
}

.content {
    margin-left: 3rem;
}

.seasons {
    display: inline-block;
}

.casting {
    column-count:3;
    column-fill: balance;
}