.admin-actor {
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .btn {
            width: 7rem;
        }
    }
}