.register {

    .card {
        width: max-content;
    }

    .uk-inline {
        width: 100%;
    }

    .uk-input {
        padding-right: 0;
    }

    .form-control {
        border: none;
    }

}