<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Catégorie 1</a>
                    <a class="dropdown-item" href="#">Catégorie 2</a>
                    <a class="dropdown-item" href="#">Catégorie 3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Voir toutes les catégories</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Acteur/trice 1</a>
                    <a class="dropdown-item" href="#">Acteur/trice 1</a>
                    <a class="dropdown-item" href="#">Acteur/trice 1</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Voir tous les acteurs</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" aria-disabled="true">❤ Favoris</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" aria-disabled="true">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" aria-disabled="true">Jane Doe</a>
                </li>
                <li class="nav-item">
                    <img src="https://www.paroissesaintcyrlecole.fr/wp-content/uploads/2018/10/female-default-profile.png"
                         class="profil-pic rounded-circle">
                </li>
            </ul>

        </form>
    </div>
</nav>