{% extends "base.html.twig" %}

{% block body %}
    <div class="home">

        <div class="container-fluid">
            <h1><i class="fas fa-star"></i> Nouveautés</h1>
            <hr>

            <div class="d-flex justify-content-around">
                {% for program in programs %}
                    <a href="{{ path('show_program', {'programName': program.slug }) }}">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ program.poster }}" alt="Affiche de {{ program.title }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ program.title }}</h2>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}